DEBUG=True
SECRET_KEY=change-me-in-production
ALLOWED_HOSTS=*

POSTGRES_DB=apteka_db
POSTGRES_USER=neo
POSTGRES_PASSWORD=neo
POSTGRES_HOST=localhost
POSTGRES_PORT=5433

GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash

PRICE_DEVIATION_THRESHOLD=0.20
FUZZY_MATCH_THRESHOLD=80
FUZZY_MATCH_CONFIRM_THRESHOLD=60
